<br />
<br />
<br />
<p id="notice"><%= notice %></p>
<% @jokes.each do |joke| %>
  <div class="hero-unit">
    <i><p><%= joke.joke %></p></i>
    <i>By: <%= joke.user %> on <%= joke.created_at.strftime("#{joke.created_at.day.ordinalize} of %B, %Y") %></i>
  </div>
<% end %>
<br />
<br />
<br />
